/lgbm_model.pkl
/tfidf_vectorizer.pkl
/experiment_info.json
data/raw/

# Virtual environment
myenv/
venv/
.venv/

# Environment variables
.env

# OS files
.DS_Store
*.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/
